/*登录注册*/
.roof{
	height: 32px;
}
.roof .wel{
	font-size : 12px;
	color : #999;
	margin-top:10px;
}
.roof .rooful{
	margin-top: 12px;
	position: relative;
}
.roof .rooful li{
	float: left;
	padding-bottom: 6px;
}
.roof .rooful li a{
	display: block;
	font-size:12px;
	color: #999;
}
.rli1{
	padding-left:10px;
	padding-right:22px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.rli2{
	padding-left:10px;
	padding-right:8px;
}
.rli2 a:hover,.rli4 a:hover,.rli6 a:hover{
	color: #000 !important;
}
.rli3{
	padding-left:10px;
	padding-right:24px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	background: url(../images/roof-icon1.jpg) no-repeat 64px 2px;
}
.rli4{
	padding-left:8px;
	padding-right:12px;
}
.rli5{
	padding-left:22px;
	padding-right:18px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	background: url(../images/roof-icon1.jpg) no-repeat 76px 2px;
}
.rli5 a{
	padding-left: 12px;
	background: url(../images/roof-icon2.jpg) no-repeat 2px;
}
.rli6{
	padding-left:10px;
	padding-right:4px;
}
.rli7{
	padding-left:4px;
	padding-right:46px;
}

/*头部*/
.headerDiv{
	width: 100%;
	height: 118px;
	border-top:1px solid #dcdcdc;
	border-bottom:3px solid #333;
}
.header{
	height: 118px;
}
.headt{
	height: 52px;
	padding-top: 10px;
}
.headb{
	height: 56px;
}
/*header 上部分*/
.logo{
	width: 192px;
	height: 50px;
}
.headt .hunt{
	width: 374px;
	height: 32px;
	border: 2px solid #d51819;
	margin-left: 54px;
	margin-top: 10px;
	margin-right: 10px;
}
.headt .hunt input{
	width: 338px;
	height: 30px;
	text-indent:4px;
}
.headt .hunt span{
	width: 36px;
	height: 32px;
	display: block;
	cursor:pointer;
	background:#d51819 url(../images/head-icon1.jpg) no-repeat 10px 6px;
}
.headt ul{
	margin-top: 20px;
	margin-right: 40px;
}
.headt ul li{
	float: left;
	padding:0 10px;
	background: url(../images/head-icon3.jpg) no-repeat top right;
}
.headt ul li a{
	display: block;
	font-size:12px;
	color: #666;
}
.bgnone{
	background: none !important;
}
.shop{
	height:26px;
	margin-top:16px;
	padding-left: 40px;
	background: url(../images/head-icon4.jpg) no-repeat top left;
	font-size:12px;
	color:#000;
	line-height: 26px;
}
.shop span{
	color:#f00;
	padding:0 4px;
}
/*header 下部分*/
.tsort{
	font-size: 16px;
	color: #000;
	text-indent: 44px;
	margin-top:30px;
	background: url(../images/head-icon5.jpg) no-repeat 18px;
	font-weight: bold;
	margin-right: 122px;
	cursor: pointer;
}
.sort{
	margin-top:30px;
}
.sort li{
	float: left;
	padding: 0 14px;
	font-size:16px;
	font-weight: bold;
}
.phoneshake{
	width: 110px;
	height: 24px;
	border-radius: 6px;
	background: #e3f8ff;
	box-shadow: 0 0 30px #e3f8ff;
	margin-top: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	color: orange;
	font-weight: bold;

}
/*信息链接*/
.newlink{ 
	width: 1198px !important;
	height: 238px;
	border:1px solid #dcdcdc;
	margin-bottom: 40px;
}
.newlink .linklist{
	width: 278px;
	height: 238px;
	border-left:1px solid #dcdcdc;
}
.bln{
	border-left:none !important;
}
.br{
	border-right:1px solid #dcdcdc;
}
.linklist .listimg{
	height: 148px;
	width: 278px;
}
.linklist .listimg img{
	width: 100%;
	height: 100%;
}
.linklist .span1{
	font-size:14px;
	font-weight: bold;
	color: #000;
	text-align: center;
	height: 38px;
	padding-top: 2px;
	line-height: 38px;
	border-top:1px solid #dcdcdc;
}
.linklist .span2,.span3{
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #a8a8a8;
	text-align: center;
}
.newlink .service{
	width: 360px;
	height: 238px;
}
.service .servicet{
	width: 360px;
	height:148px;
	border-bottom: 1px solid #dcdcdc;
}
.service .servicet .stSpan1{
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 14px;
}
.service .servicet .stSpan2,.stSpan3{
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color:#999;
}
.serviceb{
	width: 360px;
	height: 88px;
	background: #fafafa;
}
.serviceb dl{
	width: 52px;
	padding:14px 34px 0 34px;
	background: url(../images/linkbg-1.jpg) no-repeat center right;
}
.serviceb dl dt{
	width: 40px;
	height: 40px;
}
.serviceb dl dt a{
	width: 40px;
	height: 40px;
}
.serviceb dl dt a img{
	width: 40px;
	height: 40px;
	margin-left: 4px;
}
.serviceb dd{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #999;
}
.bgnone{
	background: none !important;
}
.view{
	color: #999;
}
/*底部*/
.footer{
	width:100%;
	height: 184px;
	margin-top: 40px;
}
.foott{
	height: 38px;
	width:100%;
	background: #f7f7f7;
	border-top: 1px solid #dcdcdc;
}
.foottit{
	height: 38px;
}
.foottit li{
	width: 200px;
	height: 38px;
	float: left;
	font-size:12px;
	line-height: 38px;
	font-weight:bold;
}
.footb{
	height: 146px;
	width:100%;
	border-bottom: 1px solid #999;
}
.footb ul{
	float: left;
	width:200px;
	margin-top:10px;
}
.footb ul li{
	font-size:12px;
	color:#231815;
	height: 30px;
	line-height: 30px;
}
.footb ul li a{
	font-size:12px;
	color:#231815;
}
/*备注*/
.remarks{
	height: 110px;
}
.remarks p{
	height: 48px;
	font-size:12px;
	color: #787878;
	font-weight: bold;
	line-height: 48px;
	text-align:center;
}
.remarks p span{
	padding: 0 6px;
}
.remarks .remarkimg{
	height:55px;
}
.remarks img{
	margin-right: 10px;
}
.ml438{
	margin-left: 438px;
}