/*登录弹出框*/
#login{
	width: 100px;
	height: 84px;
	border: 2px solid #b5b5b5;
	border-top:none;
	position: absolute;
	top:14px;
	display: none;
	background:#fff url(../images/loginbg.jpg) no-repeat top left;
}
#login ul{
	margin-top:10px;
}
#login ul li{
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
}

/*我的邦购弹出框*/
#mybg{
	width: 82px;
	height: 110px;
	position: absolute;
	background: #fff;
	left: 102px;
	top:14px;
	border: 2px solid #b5b5b5;
	border-top: none;
	display: none;
}
#mybg ul{
	margin-top: 12px;
}
#mybg ul li{
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
}
#mybg ul li a{
	display: block;
	height: 12px;
	line-height: 12px;
	color:#000;
}
/*app下载弹出*/
#app{
	position: absolute;
	top:16px;
	left:256px;
	width: 160px;
	height: 160px;
	background: #fff url(../images/appCode.jpg) no-repeat;
	border: 2px solid #b5b5b5;
	border-top: none;
	display: none;
	z-index: 99;
}
#app span{
	width: 138px;
	height: 138px;
	margin-top: 10px;
	margin-left:10px;
}
#app span img{
	width: 100%;
	height: 100%;
}
/*微信弹出框*/
#wechatCode{
	width: 140px;
	height: 146px;
	display: none;
	position: absolute;
	top:18px;
	left: 314px;
	background: #fff;
	z-index: 99;
}
#wechatCode span{
	margin-top: 4px;
	margin-left: 2px;
}
#wechatCode span img{
	width: 100%;
	height: 100%;
}