/*nav*/
#secondmenu{
	width: 720px;
	height: 526px;
	border: 1px solid #999;
	border-top:none;
	position: absolute;
	top:0;
	left: 238px;
	display: none;
	z-index: 99;
	background: url(../images/pic.png) no-repeat -7px 13px;
	background-position: 0 -211px;

}
.secondmenuL{
	width: 125px;
	height: 520px;
	padding-top: 6px;
	padding-right: 40px;
	padding-left: 14px;
	background: #fff;
	border-right: 1px solid #999;
}
.secondmenuL dl{
	overflow: hidden;
}
.secondmenuL dl dt{
	display: block;
	height: 38px;
	line-height: 38px;
}
.secondmenuL dl dt a{
	display: block;
	height: 14px;
	line-height: 38px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.secondmenuL dd{
	float: left;
	height: 22px;
	padding-right: 14px;
}
.secondmenuL dl dd a{
	display: block;
	height: 12px;
	line-height: 22px;
	font-size:12px;
	color:#969696;
}
.noneFL dd{
	float: none !important;
}
.secondmenuR{
	width: 540px;
	height: 526px;
	background: #fff;
}
.secondmenuR .smSpan{
	width: 540px;
	height: 360px;
}
.secondmenuR .smSpan img{
	width:100%;
	height: 100%;
}
.secondmenuR p{
	width: 540px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 14px;
}
.secondmenuR .smImg{
	width: 540px;
	height: 116px;
}
.secondmenuR .smImg span{
	display: block;
	float: left;
	width: 134px;
	height: 54px;
	line-height: 54px;
	text-align: center;
}
.mb8{
	margin-bottom: 8px;
}
