html,body{
	height: 644px;
}
.loginbox{
	height: 482px;
}
.loginboxl-img{
	width: 640px;
	height: 326px;
}
.loginboxl-msg{
	width: 638px;
	height:155px;
	border: 1px solid #e3f1e5;
	border-top:none;
}
.loginboxl-msg p{	
	text-align: center;
}
.loginboxl-msg .login-small{
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding-top: 20px;
	color: #9fc7a4;
}
.loginboxl-msg .login-big{
	font-size: 28px;
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	color: #77b27f;
}

/*登录框*/
.loginboxr{
	width: 338px;
	height: 482px;
}
.login-select{
	position:relative;
	height: 39px;
}
.login-select ul{
	height: 39px;
}
.login-select li{
	position: absolute;
	top:4px;
	float: left; 
	width: 110px;
	height: 34px;
	border: 1px solid #ccc;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	cursor: pointer;
}
.login-select-li1{
	left: 0;
}
.login-select-li2{
	left: 111px;
}
.login-select-li3{
	left: 222px;
}
/*登录选中样式*/
.selectstyle{
	padding-top:3px;
	top:0 !important;
	border-bottom:none !important;
	border-top:2px solid #cc0000 !important;
}
/*输入框*/
.login-form{
	width: 332px;
	height: 248px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-top: 30px;
}
.login-form input{
	width: 230px;
	height: 26px;
	border:1px solid #ccc;
}
.login-username,.login-userpassword,.login-usercode{
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	font-size: 14px;
	color:#666;
}
.login-form form div{
	height: 50px;
}
.login-code{
	margin-bottom: 10px;
}
.login-code input{
	width: 60px;
	margin-right: 10px;
}
.login-checkcode {
	width: 150px;
	height: 30px;

}
.login-checkcode .num{
	width: 110px;
	height: 30px;
	background: #ccc;
	margin-right: 4px;
	text-align: center;
	line-height: 30px;
}
.login-checkcode .codebtn{
	width: 36px;
	height: 30px;
	line-height: 12px;
	font-size: 12px;
	cursor: pointer;
}
.login-form form .tip{
	width:230px;
	height: 22px;
	color: red;
	font-size: 12px;
	line-height: 22px;
	text-indent: 80px;
}
.login-mulsel{
	margin-left: 84px;
}
.login-mulsel input{
	width: 12px;
	height: 12px;
	border: 2px solid #ccc;
	border-radius: 2px;
}
/*清除复选框的默认margin*/
.login-mulsel input[type="checkbox"]{
	margin:0;
}
.login-remenbername,.login-autologin{
	font-size: 12px;
	color: #000;
	height: 12px;
	line-height: 12px;
}
.login-remenbername{
	margin-right: 30px;
}
/*登录按钮*/
.login-loginbtn{
	width: 104px;
	height: 32px;
	background: #d10000;
	border: none;
	outline:none;
	border-radius: 2px;
	line-height: 36px;
	text-indent:0;
	margin-top:20px;
}
.login-loginbtn span{
	display: block;
	width: 98px;
	height: 28px;
	background: #f11515;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	border:1px solid #fe8383;
	border-radius: 2px;
	margin-left: 2px;
}
.login-backpassword{
	font-size: 12px;
	/*font-weight: bold;*/
	color: #333;
	text-decoration: underline;
}
/*免费注册*/
.login-freereg{
	width: 332px;
	height: 58px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.login-freereg p{
	width: 318px;
	height: 57px;
	border-top:1px solid #ccc;
	margin-left: 7px;
	line-height: 58px;
	font-size: 12px;
	color:#333;
	text-indent: 10px;
}
.login-freereg button {
	margin-left: 10px;
	width: 94px;
	height: 24px;
	font-size: 12px;
	color: #333;
	background: #f9f9f9;
	border: none;
	outline: none;
	border: 1px solid #bcbcbc;
	border-radius: 2px;
}
/*合作链接*/
.login-cooperat{
	height: 104px;
	width: 332px;
	border:1px solid #ccc;
	border-top: none;
}
.login-cooperat p{
	width: 302px;
	height: 32px;
	background: #efefef;
	font-size: 12px;
	line-height: 32px;
	margin-left:14px;
	color: #333;
	text-indent:10px;
}
.login-cooperat ul{
	margin-left: 14px;
}
.login-cooperat li{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	/*text-align: center;*/
}
.login-cooperat li a{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	/*text-align: center;*/
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 12px;
	color: #333;
	text-indent: 38px;
	background: url(../images/login/logo-1.jpg) no-repeat 10px 4px;
}
.bl{
	border-left: 1px solid #ccc;
}


