html,body{
	height: 800px;
}
.wrap{
	width: 982px;
	margin:0 auto;
}

.logo{
	height: 110px;
	border-bottom: 2px solid #6e6e6e;
	margin-top: 16px;
	margin-bottom: 10px;
}
.reg{
	width: 980px;
	height: 400px;
	border:1px solid #ccc;
	margin-bottom: 20px;
}
.regl{
	width: 782px;
}
.firststep{
	height: 50px;
	width: 700px;
	text-indent :20px;
	border-bottom: 1px dotted #e6e6e6;
	margin-left:30px;
	font-size: 14px;
	line-height: 50px;
	margin-bottom: 24px;
}
.reg-form{
	margin-left: 30px;
}
.in{
	width:700px;
	height:60px;

}
.in .tit{
	display: block;
	float: left;
	width: 112px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #666;
	text-align: right;
}
.in input{
	border: 1px solid #ababab;
	height: 30px;
	width: 246px;
	margin-left: 14px;
	margin-right: 10px;
	float: left;
}
.in .defaulttip{
	width: 300px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #999;
	float: left;
}
.in .tip{
	width:500px;
	height: 24px;
	margin-top: 2px;
	color: red;
	font-size: 12px;
	line-height: 24px;
	text-indent: 130px;
}
.code input{
	width: 128px;
}
.code .checkcode{
	float: left;
	width: 150px;
	height: 35px;
	line-height: 20px;
	color: #333;
	font-size: 12px;
}
.checkcode .num{
	width: 110px;
	display: block;
	float: left;
	height: 30px;
	background: url(../images/reginst/bg.jpg) repeat-x;
	margin-right: 4px;
	font-size: 20px;
	color:red;
	line-height: 30px;
	text-align: center;
}
.reg-button{
	width: 214px;
	height: 36px;
	background: #d10000;
	border: none;
	outline:none;
	border-radius: 2px;
	line-height: 36px;
	text-indent:0;
	margin-top: 14px;
	margin-left: 106px;
}
.reg-button span{
	display: block;
	width: 208px;
	height: 30px;
	background: #f11515;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	border:1px solid #fe8383;
	border-radius: 2px;
	margin-left: 2px;
}
.regr{
	width: 198px;
	height: 400px;
}
.weltit{
	width: 170px;
	height: 52px;
	line-height: 52px;
	font-size:16px;
	color:#d61c19;
	text-align: center;
	font-weight: bold;
	background: url(../images/reginst/bg1.jpg) no-repeat bottom left;
	margin-bottom: 16px;
}
.regr p{
	width: 168px;
	line-height: 30px;
	font-size:14px;
	font-weight: bold;
	color: #333;
	text-indent: 36px;
	font-family: Arial;
}
/*链接*/
.rellink{
	width: 928px;
	height: 22px;
}
.rellink dt,.rellink dd{
	float: left;
	height: 18px;
	padding:4px 6px;
}	
.rellink dd{
	background: url(../images/reginst/bg2.jpg) no-repeat center right;

}
.rellink dt{
	font-size:12px;
	color:#333;
	line-height: 18px;
	margin-left: 280px;
}
.rellink dd a{
	display: block;
	font-size:12px;
	color:#333;
	line-height: 18px;
}