* {
  padding: 0;
  margin: 0;
}

.fl, div {
  float: left;
}

.cw, div:nth-child(1) .p2, div:nth-child(1) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(1) .p3, div:nth-child(1) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(1) .p4, div:nth-child(5) .p2, div:nth-child(5) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(5) .p3, div:nth-child(5) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(5) .p4, div:nth-child(6) .p2, div:nth-child(6) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(6) .p3, div:nth-child(6) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(6) .p4, div:nth-child(8) .p2, div:nth-child(8) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(8) .p3, div:nth-child(8) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(8) .p4 {
  color: #fff;
}

.tit, div:nth-child(1) .p1, div:nth-child(2) .p1, div:nth-child(3) .p1, div:nth-child(5) .p1, div:nth-child(6) .p1, div:nth-child(7) p, div:nth-child(8) .p1 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
}

.ab, div:nth-child(2) .p2, div:nth-child(2) .p3, div:nth-child(2) .p4, div:nth-child(3) .p2, div:nth-child(4) div, div:nth-child(5) .p2, div:nth-child(5) div, div:nth-child(6) .p2, div:nth-child(8) .p2, div:nth-child(8) .div1, div:nth-child(8) .div2 {
  position: absolute;
}

div {
  width: 33.3%;
  height: 365px;
  overflow: hidden;
  position: relative;
}
div:hover {
  opacity: 0.8;
  overflow: hidden;
}
div img {
  z-index: -99;
  transition: all 2s;
}
div img:hover {
  transform: translate(-10px);
}

div:nth-child(1) p {
  transition: all 2s;
}
div:nth-child(1) .p1 {
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 20px;
}
div:nth-child(1) .p2, div:nth-child(1) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(1) .p3, div:nth-child(1) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(1) .p4 {
  font-size: 14px;
  position: absolute;
  top: 100%;
  left: 20px;
}
div:nth-child(1):hover .p1 {
  top: 50%;
}
div:nth-child(1):hover .p2, div:nth-child(1):hover div:nth-child(2) .p3, div:nth-child(2) div:nth-child(1):hover .p3, div:nth-child(1):hover div:nth-child(2) .p4, div:nth-child(2) div:nth-child(1):hover .p4 {
  top: 80%;
}

div:nth-child(2) .p1 {
  top: 20%;
  left: 20px;
}
div:nth-child(2) .p2, div:nth-child(2) .p3, div:nth-child(2) .p4 {
  font-size: 16px;
  background: #fff;
  color: #000;
  left: -40%;
  top: 50%;
  transition: all 0.5s;
}
div:nth-child(2) .p3 {
  transition: all 1s;
  top: 60%;
}
div:nth-child(2) .p4 {
  top: 70%;
  transition: all 2s;
}
div:nth-child(2):hover .p2, div:nth-child(2):hover .p3, div:nth-child(2):hover .p4 {
  left: 40px;
}

div:nth-child(3) .p1 {
  top: 20%;
  left: 20px;
}
div:nth-child(3) .p2, div:nth-child(3) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(3) .p3, div:nth-child(3) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(3) .p4 {
  font-size: 16px;
  height: 40px;
  line-height: 18px;
  color: #000;
  background: #fff;
  transition: all 0.5s;
  bottom: -40px;
  left: 0;
}
div:nth-child(3):hover .p2, div:nth-child(3):hover div:nth-child(2) .p3, div:nth-child(2) div:nth-child(3):hover .p3, div:nth-child(3):hover div:nth-child(2) .p4, div:nth-child(2) div:nth-child(3):hover .p4 {
  bottom: 0;
}

div:nth-child(4) div {
  background: #fff;
  width: 150%;
  top: 100%;
  left: 0;
  transform-origin: top left;
  transition: all 1s;
}
div:nth-child(4) span {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 12px;
  color: #000;
  position: absolute;
  transition: all 1s;
  top: 100%;
}
div:nth-child(4) .span1 {
  left: 60%;
}
div:nth-child(4) .span2 {
  left: 70%;
}
div:nth-child(4):hover div {
  transform: rotate(-16deg);
  z-index: 99;
}
div:nth-child(4):hover span {
  top: 90%;
  z-index: 199;
}

div:nth-child(5) .p1 {
  top: 20%;
  left: 40px;
  transition: all 0.5s;
}
div:nth-child(5) .p2, div:nth-child(5) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(5) .p3, div:nth-child(5) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(5) .p4 {
  top: 50%;
  left: 150px;
  transition: all 0.5s;
}
div:nth-child(5) div {
  width: 70%;
  height: 70%;
  border: 2px solid #f00;
  top: -100%;
  left: 15%;
  transition: all 0.5s;
}
div:nth-child(5):hover .p1 {
  left: 86px;
}
div:nth-child(5):hover .p2, div:nth-child(5):hover div:nth-child(2) .p3, div:nth-child(2) div:nth-child(5):hover .p3, div:nth-child(5):hover div:nth-child(2) .p4, div:nth-child(2) div:nth-child(5):hover .p4 {
  left: 120px;
  top: 30%;
}
div:nth-child(5):hover div {
  transform: rotate(360deg);
  top: 15%;
}

div:nth-child(6) .p1 {
  top: 20%;
  left: 40px;
}
div:nth-child(6) .p2, div:nth-child(6) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(6) .p3, div:nth-child(6) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(6) .p4 {
  font-size: 16px;
  top: 30%;
  left: 40px;
}
div:nth-child(6) p {
  transition: all 0.5s;
  transform: skewX(90deg);
}
div:nth-child(6):hover p {
  transform: skewX(0deg);
}

div:nth-child(7) p {
  color: #000;
  top: 20%;
  left: 40px;
}
div:nth-child(7):hover img {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

div:nth-child(8) .p1 {
  top: 20%;
  left: 40px;
  transition: all 1s;
}
div:nth-child(8) .p2, div:nth-child(8) div:nth-child(2) .p3, div:nth-child(2) div:nth-child(8) .p3, div:nth-child(8) div:nth-child(2) .p4, div:nth-child(2) div:nth-child(8) .p4 {
  top: 40%;
  left: 120px;
  font-size: 16px;
  transition: all 1s;
  opacity: 0;
  filter: alpha(opacity=0);
}
div:nth-child(8) .div1 {
  top: 15%;
  left: 50%;
  width: 0;
  height: 70%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: all 1s;
  transform-origin: center;
}
div:nth-child(8) .div2 {
  left: 15%;
  top: 50%;
  width: 70%;
  height: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: all 1s;
}
div:nth-child(8):hover .div1 {
  width: 80%;
  left: 10%;
}
div:nth-child(8):hover .div2 {
  height: 80%;
  top: 10%;
}
div:nth-child(8):hover .p1 {
  left: 80px;
}
div:nth-child(8):hover .p2, div:nth-child(8):hover div:nth-child(2) .p3, div:nth-child(2) div:nth-child(8):hover .p3, div:nth-child(8):hover div:nth-child(2) .p4, div:nth-child(2) div:nth-child(8):hover .p4 {
  opacity: 1;
  filter: alpha(opacity=1);
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
